.App {
  height: 1080px;
}

nav {
  background-color: var(--dark);
  width: 100%;
  height: 125px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  z-index: 2;
  box-shadow: var(--mainShadow);
}

form {
  display: flex;
  flex-direction: column;
  margin: 0px 20px;
}

label {
  color: var(--dark);
  margin: 15px 0px 5px 0px;
}

input {
  border-radius: 5px;
  background-color: var(--white);
  padding: 5px;
  border: none;
  outline: none;
}

li {
  position: relative;
}

button {
  color: var(--white);
  width: 70px;
  height: 30px;
  border: none;
  border-radius: 5px;
  background: var(--electric);
}

table {
  margin-top: 25px;
  font-size: 1.25em;
  width: 90%;
}

td {
  text-align: center;
  color: var(--white);
  border-bottom: solid var(--light) 3px;
  padding-top: 15px;
}

.tableData__button {
  border: none;
}

th {
  color: var(--white);
}

.wallet__button--long {
  width: 100%;
  grid-column: span 3;
  margin: 10px 0px;
}

.short {
  margin-top: 0px;
}

.navbar__logo {
  width: 200px;
  margin: 10px 10px 10px 10px;
}

.navList {
  margin-left: 75px;
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  height: 100%;
  background-color: var(--electric);
  border-radius: 15px 0px 0px 15px;
}
.navList__items {
  display: flex;
  margin: 0px 25px;
}

.navButton__icon {
  position: relative;
  font-size: 1.75em;
  margin: 0px 20px;
  background-color: var(--lightOP);
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.navButton__icon:hover {
  background-color: var(--light);
}

.navPrices {
  position: relative;
  font-size: 1.5em;
  color: var(--white);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0px auto 0px 0px;
  height: 100%;
  width: 100%;
}

.navPrices__slider {
  position: absolute;
  z-index: 0;
  display: flex;
  right: -50px;
  transform: translateX(195px);
  height: 100%;
  width: 200px;
  background-color: var(--light);
  border-radius: 15px 0px 0px 15px;
  transition: transform 250ms;
}

.navPrices__slider:hover {
  transform: translateX(95px);
}

.SideCarat {
  width: 0.7em;
  margin-left: 5px;
}

.navPrices__input {
  width: 70px;
  padding: 5px 0px;
  margin-bottom: 5px;
}

.navPrices__form {
  margin: 0px 15px;
}

.coin {
  font-size: 0.9em;
  margin: 25px;
}

.dropdown {
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: var(--light);
  position: absolute;
  top: 60px;
  right: 20px;
  width: 250px;
  border-radius: 15px 15px 15px 15px;
  box-shadow: var(--mainShadow);
}

.dropdown__title {
  margin: 5px auto;
  color: var(--dark);
  font-size: 1.5em;
}

.fillerContent {
  margin: 25px;
}

.profileButton__container {
  display: flex;
  justify-content: space-between;
  margin: 20px 0px;
}

.forgotPassword {
  color: var(--dark);
  font-size: 0.75em;
}

.donateButton {
  margin: 5px 5px;
}

.donateButton__container {
  display: flex;
  margin: 10px 5px;
}

.profileButton:hover,
.donateButton:hover {
  box-shadow: 0px 0px 5px 0px var(--electric);
}

.body {
  display: flex;
  height: 100%;
}

.wallet {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 1;
  background-color: var(--dark);
  width: 35%;
  height: 100%;
  box-shadow: var(--mainShadow);
}

.wallet__slidedown {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--light);
  width: 100%;
  border-radius: 0px 0px 15px 15px;
  transform: translateY(-135px);
  transition: transform 300ms;
}

.wallet__slidedown:hover {
  transform: translateY(0px);
}

.DownCarat {
  margin: 0px auto 10px auto;
  width: 25px;
}

.wallet__form {
  display: grid;
  grid-template-columns: repeat(3, 30%);
  justify-content: space-around;
  align-items: center;
}

.deleteAssets_button {
  width: 100%;
}

.wallet__input {
  margin: 25px 0px 0px 0px;
}

.wallet__title {
  text-align: center;
  margin-top: 50px;
  color: var(--white);
}

.wallet__list {
  color: var(--white);
  position: relative;
  z-index: -1;
}

.asset {
  display: flex;
}

.content {
  background-color: var(--dark);
  width: 65%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.PieChart__container {
  width: 60%;
  text-align: center;
  margin-top: 25px;
}

.PieChartHeader {
  margin-top: 50px;
  font-size: 1.5em;
  color: var(--white);
}
