.App {
  height: 1080px;
}

nav {
  background-color: var(--blue-green);
  width: 100%;
  height: 125px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  z-index: 2;
  box-shadow: -5px 2px 10px 0px black;
}

form {
  display: flex;
  flex-direction: column;
  margin: 0px 20px;
}

label {
  color: var(--dark);
  margin: 15px 0px 5px 0px;
}

input,
textarea {
  border-radius: 5px;
  background-color: var(--white);
  padding: 5px;
  border: none;
  outline: none;
}

li {
  position: relative;
}

button {
  color: var(--white);
  width: 70px;
  height: 30px;
  border: none;
  border-radius: 5px;
  background: var(--electric);
}

table {
  margin-top: 25px;
  font-size: 1em;
  width: 90%;
}

td {
  text-align: center;
  color: var(--white);
  border-bottom: solid var(--light) 3px;
  padding-top: 15px;
}

.tableData__button {
  border: none;
}

th {
  color: var(--white);
}

.wallet__button--long {
  width: 100%;
  grid-column: span 3;
  margin: 10px 0px;
}

.short {
  margin-top: 0px;
}

.logo__container {
  display: flex;
  height: 100%;
  width: 15%;
  flex-shrink: 0;
}

.navbar__logo {
  width: 100%;
  margin: 10px 10px 10px 10px;
}

.navList {
  flex-grow: 1;
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  height: 100%;
  width: 320px;
  background-color: var(--blue-green);
  border-radius: 15px 0px 0px 15px;
  box-shadow: -2px 0px 10px 1px rgba(25, 25, 25, 0.3);

  /* box-shadow: inset 0px 0px 0px 5px var(--electricLight); */
}
.navList__items {
  display: flex;
  margin: 0px 25px;
}

.navButton__icon {
  position: relative;
  font-size: 1.75em;
  margin: 0px 20px;
  background-color: var(--electric);
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.navButton__icon:hover {
  background-color: var(--electricOP);
  box-shadow: 0px 0px 5px var(--electricOP);
}

.navPrices {
  font-size: 1.5em;
  color: var(--white);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
  width: 85%;
}

.navPrices__slider {
  position: absolute;
  z-index: 0;
  display: flex;
  align-items: center;
  height: 100%;
  width: 275px;
  background-color: var(--light);
  border-radius: 15px 0px 0px 15px;
  transform: translateX(240px);
  transition: transform 300ms;
  box-shadow: -2px 0px 10px 1px rgba(25, 25, 25, 0.15);
}

.navPrices__slider:hover {
  transform: translateX(50px);
}

.navPrices__button {
  width: 50px;
  height: 50px;
  margin: 5px 0px;
  border-radius: 10px;
  color: var(--white);
  margin: 5px;
}

.SideCarat {
  height: 25px;
  margin-left: 10px;
  margin-right: 10px;
}

.navPrices__input {
  margin: 5px 5px;
  width: 50px;
  height: 50px;
  border-radius: 10px;
}

.navPrices__form {
  flex-direction: row;
  margin: 0px;
}

.coin {
  position: relative;
  right: 40px;
  display: flex;
  background-color: var(--electric);
  margin: 0px 5px;
  border-radius: 15px;
  padding: 10px 15px;
  box-shadow: 3px 3px 10px rgba(25, 25, 25, 0.25);
}

.coin__info {
  font-size: 0.75em;
}

.coin__removeButton {
  margin-left: 15px;
  position: relative;
  top: -5px;
  right: 0px;
  background: none;
  width: 15px;
  font-size: 0.75em;
}

.dropdown {
  text-align: center;
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: var(--electric);
  position: absolute;
  top: 60px;
  right: 20px;
  width: 190px;
  border-radius: 15px 15px 15px 15px;
  color: var(--white);
  /* border: solid 3px var(--white); */
  box-shadow: 0px 0px 5px 0px var(--electric);
}

.feedback__form {
  display: flex;
}

.feedback__input {
  margin: 5px;
}

.feedback__message {
  padding-bottom: 100px;
  word-wrap: break-word;
}

.feedback__button {
  background-color: var(--light);
  color: var(--dark);
  width: 95%;
  margin: 5px 5px 15px 5px;
}

.dropdown__title {
  margin: 5px auto;
  color: var(--white);
  font-size: 1.5em;
}

.fillerContent {
  margin: 0px 25px 25px 25px;
}

.profileButton__container {
  display: flex;
  justify-content: space-between;
  margin: 20px 0px;
}

.forgotPassword {
  color: var(--dark);
  font-size: 0.75em;
}

.donateButton {
  margin: 5px 5px;
}

.donateButton__container {
  display: flex;
  margin: 10px 5px;
}

.profileButton:hover,
.donateButton:hover {
  box-shadow: 0px 0px 5px 0px var(--electric);
}

.body {
  display: flex;
  height: 100%;
}

.wallet {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 1;
  background-color: var(--dark);
  width: 35%;
  height: 100%;
  box-shadow: 0px 0px 10px 0px black;
}

.wallet__slidedown {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--light);
  width: 100%;
  border-radius: 0px 0px 15px 15px;
  transform: translateY(-135px);
  transition: transform 300ms;
}

.wallet__slidedown:hover {
  transform: translateY(0px);
}

.DownCarat {
  margin: 0px auto 10px auto;
  width: 25px;
}

.wallet__form {
  display: grid;
  grid-template-columns: repeat(3, 30%);
  justify-content: space-around;
  align-items: center;
}

.deleteAssets_button {
  width: 100%;
}

.removeAsset__button {
  margin-left: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  background: none;
  width: 25px;
  height: 25px;
  background-color: var(--electric);
}

.removeAsset__button:hover {
  box-shadow: 0px 0px 10px 2px var(--electric);
}

.wallet__input {
  margin: 25px 0px 0px 0px;
}

.wallet__title {
  text-align: center;
  margin-top: 50px;
  color: var(--white);
}

.wallet__list {
  color: var(--white);
  position: relative;
  z-index: -1;
}

.asset {
  display: flex;
}

.content {
  background-color: var(--dark);
  width: 65%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.PieChart__container {
  width: 60%;
  text-align: center;
  margin-top: 25px;
}

.PieChartHeader {
  margin-top: 50px;
  font-size: 1.5em;
  color: var(--white);
}
