* {
  margin: 0;
  padding: 0;
  font-family: sofia-pro, sans-serif;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  list-style: none;
}

:root {
  --dark: rgb(26, 29, 54);
  --orange: rgb(241, 119, 4);
  --electric: rgba(91, 28, 237, 1);
  --white: rgb(255, 247, 202);
}
