nav {
  background-color: var(--dark);
  width: 100%;
  height: 125px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  z-index: 2;
  box-shadow: var(--mainShadow);
}

.navbar__logo {
  width: 150px;
  margin: 25px auto 25px 25px;
}

.navListBG {
  display: flex;
  align-items: center;
  height: 100%;
  background-color: var(--electric);
  border-radius: 15px 0px 0px 15px;
}
.navList {
  display: flex;
  margin: 0px 25px;
}

.navButton__icon {
  position: relative;
  font-size: 1.75em;
  margin: 0px 20px;
  background-color: var(--lightOP);
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.navButton__icon:focus {
  background-color: var(--light);
}

li {
  position: relative;
}

.dropdown {
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: var(--light);
  position: absolute;
  top: 60px;
  right: 20px;
  border-radius: 15px 15px 15px 15px;
}

.dropdownTitle {
  margin: 5px auto;
  color: var(--dark);
  font-size: 1.5em;
}

.decorationBox {
  position: absolute;
  background: var(--electric);
  width: 50px;
  height: 50px;
  top: -10px;
  right: 0px;
}

.formButtonContainer {
  display: flex;
  justify-content: space-between;
  margin: 20px 0px;
}

form {
  display: flex;
  flex-direction: column;
  margin: 0px 20px;
}

label {
  color: var(--dark);
  font-size: 1em;
  margin: 15px 0px 5px 0px;
}

input {
  border-radius: 5px;
  background-color: var(--white);
  padding: 5px;
  border: none;
  outline: none;
}

.forgotPassword {
  color: var(--dark);
  font-size: 0.75em;
}

button {
  color: var(--white);
  width: 70px;
  height: 30px;
  border: none;
  border-radius: 5px;
  background: var(--electric);
}

.donateButton {
  margin: 5px 5px;
}

.donateButtonContainer {
  display: flex;
  margin: 10px 5px;
}

.profileButtons:hover,
.donateButton:hover {
  box-shadow: 0px 0px 5px 0px var(--electric);
}

.body {
  display: flex;
  height: 100%;
}
.wallet {
  position: relative;
  z-index: 1;
  background-color: var(--dark);
  width: 30%;
  height: 100%;
  box-shadow: var(--mainShadow);
}

.content {
  background-color: var(--dark);
  width: 70%;
  height: 100%;
}
